{% extends 'base.html.twig' %}
{% block title %}
    Operations list
{% endblock %}
{% block body %}
    <table class="blueTable">
        <th>Direction</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
    {% for  operation in operations_list %}
        <tr>
            <td>{{ operation.direction_name }}</td>
            <td>{{ operation.amount }}</td>
            <td>{{ operation.description }}</td>
            <td>{{ operation.created_at|date("m/d/Y") }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}