{% extends 'base.html.twig' %}
{% block title %}
    Accounts list
{% endblock %}
{% block body %}
    <table class="blueTable">
        <th>Account Name</th>
        <th>Amount Start</th>
        <th>Amount</th>
        <th>Currency</th>
        {% for  account in accounts_list %}
            <tr>
                <td width="70">{{ account.name }}</td>
                <td width="70">{{ account.amountStart }}</td>
                <td width="70">{{ account.amount }}</td>
                <td width="70">{{ account.currency }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}