{% extends 'base.html.twig' %}
{% block title %}
    Categories list
{% endblock %}
{% block body %}
    {% for  parent_name, parent in categories_parents %}
       <strong> {{ parent_name }} </strong><br>
        <ul>
        {% for child_name in parent %}
            <li>{{ child_name }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <br>
    {% for category in categories_outcome %}

    {% endfor %}
{% endblock %}