{% extends 'base.html.twig' %}
{% block title %}
    Categories list
{% endblock %}
{% block body %}
    {% for  parent_name, parent in categories_parents %}
       <strong> {{ parent_name }} </strong> - {{ parent.type }} <br>
        <ul>
        {% for child_name in parent.children %}
            <li>{{ child_name }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}